<!DOCTYPE html>
<html>
  <head>
    <title>Register New User</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Register New User</h1>
      <form method="POST" action="/register">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />
        <button type="submit">Register (Press 'q' in camera window)</button>
      </form>
      <a href="{{ url_for('index') }}">Back to Home</a>
    </div>
  </body>
</html>
